RewriteEngine On

Options -Indexes

RewriteRule ^places/([0-9]+)/settings$ places/placesjson.php?id=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteRule ^Asset(.*)$ /asset$1 [R=301,L]

RewriteRule ^IDE(.*)$ /ide$1 [R=301,L]

RewriteRule ^Game(.*)$ /game$1 [R=301,L]

RewriteRule ^games/([0-9]+)/(.*)$ games/gamepage.php?id=$1 [L]